/* Soluzione qui */

.recipe-video{
    height: 100%;
}

.recipe-video img{
    width: 100%;
}

@media screen and (min-width: 768px){
    #topbar{
        justify-content: flex-start;
    }

    main{
        padding: 35px;
    }

    .recipe-origin{
        display: inline ;
    }

    header h2{
        font-size: 35px;
    }

    .btn{
        padding: 10px 50px;
    }

    .ads{
        display: inline-block;
    }

    .clearfix img{
        float: left;
        margin-right: 20px;
    }

    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 90px;
    }
}

@media screen and (min-width: 992px){
    header h2{
        font-size: 45px;
    }

    .quick-notes ul{
        display: inline-block
    }

    .recipe-card{
        display: flex;
    }

    .recipe-video{
        flex-basis: 70%;
    }

    .recipe-info{
        flex-grow: 1;
    }

    .social-networks .label{
        display: inline;
        font-size: 13px;
        vertical-align: middle;
    }

    .btn{
        padding: 10px 40px;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }

    footer address{
        text-align: left;
    }
}